body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body,
html {
  height: 100%;
  color: #777;
  line-height: 1.8;
  overflow-x: hidden;
}

.bannerMain,
.bannerSkills,
.bannerContact,
.bannerPortfolio {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bannerMain {
  background-image: url("../img/banner.jpg");
  min-height: 100%;
  box-shadow: 0px 5px 8px #393d3d;
}

.banners {
  min-height: 400px;
  box-shadow: 0px 5px 8px #393d3d, 0px -3px 6px #95d4cb;
  display: relative;
}

.bannerSkills {
  background-image: url("../images/banner_programming.png");
}

.bannerPortfolio {
  background-image: url("../images/banner_graphic.png");
}

.bannerContact {
  background-image: url("../images/banner.png");
}

.bannerContainer {
  position: relative;
}

.bannerText {
  font-size: 45px !important;
  letter-spacing: 5px;
  color: #95d4cb;
  text-shadow: 2px 2px #393d3d;
}

.logoText {
  font-size: 28px;
  background-color: #0c3d53;
  color: #95d4cb;
  padding: 25px;
  text-align: center;
  opacity: 0.8;
}

.logoText img {
  max-width: 200px;
}

/* Navbar */
.topMenu {
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
  background-color: #0c3d53;
  box-shadow: 0px 2px 5px #393d3d;
  color: white !important;
}

.hideOverflow {
  overflow: hidden;
}

.showElement {
  display: block !important;
}

.hideElement {
  display: none !important;
}

.dropDownBars {
  float: right !important;
  display: none !important;
}

.navbarButton {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
  color: white;
}

.navbarButton:hover {
  background-color: #d3e2e9;
  color: #0c3d53;
  opacity: 0.8;
}

#navDemo {
  display: none;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.profilePhoto {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.profilePhoto img {
  -webkit-filter: grayscale(85%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(85%);
  box-shadow: 5px 5px 8px #393d3d;
}

.profilePhoto img:hover {
  -webkit-filter: 0%;
  filter: none;
  box-shadow: 5px 5px 8px #393d3d;
}

.privSection {
  padding: 10px;
  padding-top: 40px;
}

.section {
  padding: 10px;
}

.section span {
  font-size: 24px;
}

.sectionContent {
  max-width: 980px;
  margin: auto;
}

.sectionDesc {
  padding-top: 64px;
  padding-bottom: 64px;
  color: #393d3d;
}

.sectionDesc h4 {
  padding: 12px 24px;
}

.contactSection {
  margin-bottom: 16px;
  font-size: 20px;
}

.skillRow {
  padding-left: 10px;
  padding-right: 10px;
}

.skills {
  display: flex;
  align-items: center;
}

.tileButton {
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  color: #393d3d;
  box-shadow: 2px 2px 3px #393d3d;
  margin-top: 64px;
}

.tileButton:hover {
  background-color: #616161;
  color: #ccfff9;
}

.tileSkill {
  min-height: 250px;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.skillPicture {
  flex: 6;
  display: flex;
}

.skillPicture div {
  display: flex;
  align-items: center;
}

.skillPicture img {
  width: 100%;
  min-width: 120px;
  max-width: 210px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-filter: grayscale(85%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(85%);
}

.skillPicture img:hover {
  -webkit-filter: 0%;
  /* Safari 6.0 - 9.0 */
  filter: none;
}

.skillPicture .skillTitle {
  flex: 1;
}

.tileGallery {
  text-align: center;
  overflow: hidden;
}

.tileGallery img {
  width: 100%;
  margin: 5px 0px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.2;
}

.tileGallery img:hover {
  opacity: 1;
}

.hiddenGallery {
  display: none;
}

.hiddenSkills {
  display: none;
}

.center {
  text-align: center !important;
}

/* Number text */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  max-height: 200px;
  max-width: 282px;
  opacity: 0.6;
  padding: 20px;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bannerMain,
  .bannerSkills,
  .bannerContact,
  .bannerPortfolio {
    background-attachment: scroll;
  }
}

/* Timeline style */
.timelineBox {
  margin-bottom: 30px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #95d4cb;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.timelineContainer {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* Timeline break-points */
.timelineContainer::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #95d4cb;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #95d4cb;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #95d4cb;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #95d4cb;
  border-width: 10px 10px 10px 0;
  border-color: transparent #95d4cb transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.contentCloud {
  padding: 20px 30px;
  position: relative;
  border-radius: 6px;
  border: 4px solid #95d4cb;
  box-shadow: 8px 8px 15px #393d3d;
}

.contentCloud .hiddenList {
  display: none;
}

.contentCloud:hover .hiddenList {
  display: block;
}

/* As an extension to content */
.workCloud {
  background-color: #f1f1f1;
  color: #393d3d;
}

/* As an extension to content */
.educationCloud {
  background-color: #393d3d;
  color: white;
}

/* Move clouds to one side and timeline to left if screen smaller than 600px */
@media screen and (max-width: 600px) {
  .dropDownBars {
    display: block !important;
  }
  .navbarButton {
    float: none;
  }
  .hideMenuOnMobile {
    display: none !important;
  }
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
  /* Full-width containers */
  .timelineContainer {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  /* Make sure that all arrows are pointing leftwards */
  .timelineContainer::before {
    left: 60px;
    border: medium solid #95d4cb;
    border-width: 10px 10px 10px 0;
    border-color: transparent #95d4cb transparent transparent;
  }
  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }
  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

.inputField {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.footer {
  background-color: #0c3d53;
  padding-top: 64px;
  padding-bottom: 64px;
}

.footer a.fa {
  color: #f1f1f1;
}

.footer a:hover {
  color: #95d4cb;
}

.footerButton {
  background-color: #f1f1f1;
  color: #393d3d;
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
}
